<!doctype html>
<html lang="ru">
<head>
	<%- include('parts/head.ejs') %>
</head>
<body>
	<div id="top">
		<%- include('parts/menu.ejs') %>
		<%- include('parts/loginBlock.ejs') %>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<td>Имя</td>
					<td>Дата регистрации</td>
					<td>Кол-во изображений</td>
					<td>Кол-во лайков</td>
				</tr>
			</thead>
			<tbody>
			<% for(let i=0;i<list.length;i++){ %>
				<tr>
					<td><a href="/users/<%= list[i].name %>"><%= list[i].name %></a></td>
					<td><%= list[i].reg_date %></td>
					<td><%= list[i].imagesCount %></td>
					<td><%= list[i].likesCount %></td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
</body>
</html>
